:root {
	--header-height: 70;
}

.m-dashboard {
	display: flex;
	height: 100vh;
}
.m-dashboard .sidebar-wrapper {
	width: 100px;
	background-color: #303456;
}
.m-dashboard .main-area {
	flex-grow: 1;
	background-color: #f5f5f5;
}
.m-dashboard .inner-main-area {
	height: calc(100vh - 10vh);
	overflow-y: scroll;
}
